/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Main Colors */
body {
    font-family: Arial, sans-serif;
    background-color: #052942; /* Main background color */
    color: #333;
}

/* Header Section */
header {
    background-color: #A33A44;
    color: white;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center;
    justify-content: space-between; /* Add space between logo and nav */
    padding: 15px;
}

header .logo {
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Remove bottom margin to align with nav */
}

header .logo img {
    width: 40px; /* Adjust size of the logo */
    margin-right: 10px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
}


/* Title Section */
.title-section {
    text-align: center;
    margin: 20px 0;
    padding-bottom: 40px;
    color: white; /* Adjust the text color as needed */
    border-radius: 5px;
}

.title-section h2 {
    font-size: 2rem; /* Adjust the font size as needed */
    margin: 0;
}

/* Contact Form Section */
.contact-form {
    background-color: #f0f0f0;
    color: #052942;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.contact-form h3 {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #A33A44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #8b2e3a;
}

/* Footer Section */
footer {
    background-color: #A33A44;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo horizontally */
    margin-bottom: 10px;
}

footer .logo img {
    width: 5%; /* Adjust size of the logo */
    margin-right: 10px;
    margin-left: 10px;
}

footer p {
    margin-bottom: 10px;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer nav a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
}

/* Media Queries */
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .button-section button {
        margin-left: 5px;
        margin-right: 5px;
        flex: 1 1 10%;
    }

    .about {
        margin: 20px 30px;
    }
}